/* stylelint-disable */
/* @tailwind base; @tailwind components; @tailwind utilities; */

@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@import './token.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    src:
        url(/fonts/ttf/Pretendard-Regular.ttf) format('truetype'),
        url(/fonts/woff/Pretendard-Regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    src:
        url(/fonts/ttf/Pretendard-Bold.ttf) format('truetype'),
        url(/fonts/ttf/Pretendard-Bold.ttf) format('woff');
    font-weight: 600;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: var(--color-text-basic);
}

html {
    font-size: var(--font-size-base);
}
body {
    font-size: var(--font-size-body-small);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --main-wrap: 1440px;
    --aside-width: 230px;
    --footer-color-background: #3d3d3d;
    --footer-color-text-basic: #ddd;
    --footer-color-text-subtle: #a9a9a9;
    --select-padding-right-medium: var(--padding-08);
    --select-padding-left-medium: var(--padding-02);
    --select-border-radius: var(--border-radius-small);
    --select-height-medium: var(--number-11);
    --select-color-border: var(--color-gray-20);
    --select-color-border-hover: var(--color-gray-40);
    --select-color-disabled: var(--color-gray-30);
    --select-font-size-medium: var(--font-size-label-medium);
    --input-text-border-radius: var(--border-radius-small);
    --input-padding-x: var(--padding-02);
    --input-padding-y: var(--padding-02);
    --input-color-border: var(--color-gray-20);
    --input-color-border-hover: var(--color-gray-40);
    --input-color-readonly: var(--color-gray-10);
    --input-check-color-border: var(--color-gray-60);
    --input-check-color-border-hover: var(--color-gray-30);
    --input-font-size-medium: var(--font-size-label-medium);
    --input-radio-icon-size: var(--icon-size-xxsmall);
    --input-check-icon-size: var(--icon-size-xxsmall);
    --table-box-color-border: var(--color-border-gray-subtle);
    --table-th-padding: var(--padding-04);
    --table-th-padding-small: var(--padding-02);
    --table-th-color-border: var(--color-secondary-10);
    --table-th-color-background: var(--color-background-secondary-subtler);
    --table-th-color-text: var(--color-text-basic);
    --table-td-padding: var(--padding-04);
    --table-td-padding-small: var(--padding-02);
    --table-td-padding-xsmall: var(--padding-01);
    --table-td-color-border: var(--color-gray-20);
    --table-td-color-background: var(--color-background-white-subtle);
    --table-td-color-text: var(--color-text-basic);
    --table-tr-color-hover: var(--color-background-primary-subtler);
    --table-text-unit: var(--color-text-disabled);
    --icon-size-xlarge: var(--number-13);
    --icon-size-large: var(--number-12);
    --icon-size-medium: var(--number-10);
    --icon-size-small: var(--number-09);
    --icon-size-xsmall: var(--number-08);
    --icon-size-xxsmall: var(--number-07);
    --icon-color-background: var(--color-background-icon-color);
    --button-font-weight-bold: var(--font-weight-bold);
    --button-font-weight-regular: var(--font-weight-regular);
    --button-primary-color: var(--color-background-primary);
    --button-primary-color-hover: var(--color-background-primary-hover);
    --button-primary-color-text: var(--color-text-inverse-static);
    --button-secondary-color: var(--color-background-primary-subtler);
    --button-secondary-color-hover: var(--color-background-primary-subtler-hover);
    --button-secondary-color-text: var(--color-text-primary);
    --button-secondary-color-border: var(--color-background-primary);
    --button-tertiary-color: var(--color-background-tertiary);
    --button-tertiary-color-hover: var(--color-background-tertiary-hover);
    --button-tertiary-color-text: var(--color-text-subtle);
    --button-tertiary-color-border: var(--color-border-gray);
    --button-dark-color: var(--color-gray-80);
    --button-red-color: var(--color-background-danger);
    --button-red-color-hover: var(--color-background-danger-hover);
    --button-red-color-subtle: var(--color-background-danger-subtle);
    --button-red-color-text: var(--color-text-basic);
    --button-color-border-unset: var(--color-border-unset);
    --button-font-size-medium: var(--font-size-label-small);
    --button-padding-medium: var(--padding-04);
    --button-padding-small: var(--padding-02);
    --button-padding-xsmall: var(--padding-01);
    --popup-window-header-color-background: var(--color-background-secondary-subtle);
    --popup-window-body-color-background: var(--color-gray-20);
    --popup-window-body-color-background-subtle: var(--color-gray-05);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em {
    font-family: 'Pretendard', '', 'AppleGothic', 'Malgun Gothic', '맑은 고딕', '돋음', 'Dotum', 'Apple SD Gothic Neo', Arial, Helvetica, sans-serif;
}
